body {
    font-family: Arial, sans-serif;
   background-color: #79cbe4 ;
        
  }
     
  h1 {
    text-align: center;
    margin-top: 50px;
    text-shadow: 3px 5px 5px #a633d3  ;
  }
  
  
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 3px outset #e63ecf;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #a633d3;
    color: #fff;
    border: outset;
    border-radius: 3px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }
